<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <p>Mis à jours: {{ lastUpdate | async | date: "short" }}</p>
      <ul class="list-group">
        <app-appareil
          *ngFor="let appareil of appareils"
          [appareilName]="appareil.name"
          [appareilStatus]="appareil.status"
        ></app-appareil>
      </ul>
      <button class="btn btnsuccess" [disabled]="!isAuth" (click)="onAllumer()">
        Tout allumer
      </button>
    </div>
    <div class="col-xs-12">
      <h2>My Blog</h2>
      <app-post-list [postItemList]="posts"></app-post-list>
    </div>
  </div>
</div>
